<!-- /views/navBar.ejs -->
<style>

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    background-color: #333;
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.navbar li {
    float: left;
}

.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar li a:hover {
    background-color: #111;
}


</style>
<nav class="navbar">
    <ul>
        <li><a href="/">Ana Sayfa</a></li>
        <li><a href="/addUserForm">Kullanıcı Ekle</a></li>
        <li><a href="/chat">Sohbet</a></li>
    </ul>
</nav>
